__pycache__/downloader.cpython-37.pyc
__pycache__/firebaseUtils.cpython-37.pyc
__pycache__/test.cpython-37.pyc
.vscode/settings.json
processDict.json
serviceAccount.json
test.json
.ipynb_checkpoints/filter-checkpoint.ipynb
.ipynb_checkpoints/test1-checkpoint.ipynb
test1.ipynb
Untitled.ipynb
filter.ipynb
style.py
